.format-ned.path-course-view .completionprogresshelp {
    height: 30px;
}

.format-ned.path-course-view .completionprogress a i {
    margin: 0;
}

.format-ned.path-course-view .completionprogress.nediconsleft {
    left: 36px;
}

.format-ned.path-course-view .completionprogress > i {
    color: #5bc0de;
    margin-left: 1px;
    margin-top: -25px;
}

.format-ned.path-course-view .completionprogress.ned-framedsections {
    right: 46px;
}

.course-content .single-section .ned-framedsections.section-navigation {
    box-sizing: content-box;
}
