ul.ned span.actions .icon {
    width: 16px;
    height: 16px;
}

.course-content ul.ned li.section .activity.completion-background .actions {
    top: 9px;
}

/* Why?! -> https://github.com/moodle/moodle/blame/master/theme/boost/scss/moodle/drawer.scss#L9-L12 -> MDL-55074 */
.ned :target {
    padding-top: 0 !important;
    margin-top: 0 !important;
}
