.course-content ul.ned {
    margin: 0;
    list-style: none;
}

.course-content ul.ned li.section .content {
    margin: 0 40px;
}

.course-content ul.ned li.section .left,
.course-content ul.ned li.section .right {
    width: 40px;
    padding: 0 6px;
}

.course-content ul.ned li.section .right img.icon {
    padding: 0 0 4px 0;
}

.course-content ul.ned li.section .left {
    padding-top: 22px;
    text-align: right;
}

.jsenabled .course-content ul.ned li.section .left,
.jsenabled .course-content ul.ned li.section .right {
    width: auto;
}

.course-content ul.ned li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}

.course-content ul.ned li.section .section_action_menu .textmenu,
.course-content ul.ned li.section .section_action_menu .menu-action-text {
    white-space: nowrap;
}

/* Completion progress icon */
.path-course-view .completionprogress {
    right: 65px;
    width: 16px;
}

.path-course-view .completionprogress .helptooltip img {
    padding: 0;
}


/* nediconsleft */
ul.ned.nediconsleft .section .activity .actions {
    left: -25px;
}

.path-course-view ul.ned.nediconsleft .section li.activity .actions form.togglecompletion .btn {
    border-width: 0;
    margin: 0;
    padding: 0;
}

.path-course-view .completionprogress.nediconsleft {
    float: left;
    left: 4px;
}

/* sectioncontentjustification */
ul.ned.sectioncontentjustification .content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

ul.ned.sectioncontentjustification .section .activity .actions {
    right: -10px;
}

/* Activity completion background */
.course-content ul.ned li.section .activity.completion-background .activityinstance {
    margin: 0;
    padding: 5px 15px 1px 10px;
}

.course-content ul.ned li.section .activity.completion-auto-fail .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-n .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-pass .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-y .activityinstance,
.course-content ul.ned li.section .activity.completion-manual-n .activityinstance,
.course-content ul.ned li.section .activity.completion-manual-y .activityinstance,
.course-content ul.ned li.section .activity.completion-saved .activityinstance,
.course-content ul.ned li.section .activity.completion-submitted .activityinstance {
    border-radius: 10px;
}

.course-content ul.ned li.section .activity.completion-manual-n .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-n .activityinstance {
    background-color: #FFF;
    border: 1px solid #AEE5E3;
}
.course-content ul.ned li.section .activity.completion-auto-pass .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-y .activityinstance,
.course-content ul.ned li.section .activity.completion-manual-y .activityinstance {
    background-color: #D0EFCF;
    border: 1px solid #D0EFCF;
}

.course-content ul.ned li.section .activity.completion-background .actions {
    top: 7px;
}
