.format-ned.path-course-view #region-main > .card {
    min-height: 0;
    padding: 0;
}

.format-ned.path-course-view #region-main > .card ul.ned {
    padding-left: 0;
}

.format-ned.path-course-view .course-content ul.ned .current::before {
    left: 1px;
}

.format-ned.path-course-view .completionprogresshelp {
    height: 30px;
}

.format-ned.path-course-view .completionprogress a i {
    margin: 0;
}

.format-ned.path-course-view .completionprogress.nediconsleft {
    left: 24px;
}

.format-ned.path-course-view .completionprogress > i {
    color: #5bc0de;
    margin-left: 1px;
    margin-top: -25px;
}

.format-ned.path-course-view .completionprogress.ned-framedsections.nediconsleft {
    left: 6px;
}

.format-ned.path-course-view h3.sectionname {
    margin-bottom: .25rem;
    padding-top: .25rem;
}

.format-ned.path-course-view .course-content ul.ned-framedsections ul.section {
    margin: 0; /* Compromise for empty sections and yet still have section title vertically centred. */
}

.course-content .single-section .ned-framedsections.section-navigation {
    box-sizing: content-box;
}

.ned-framedsections .section .right a.dropdown-toggle,
.ned-framedsections .section .right a.dropdown-toggle:hover {
    color: #fff;
}
