.format-ned #maincontent {
    display: none;
}

.course-content ul.ned {
    list-style: none;
    margin: 0;
}

.course-content ul.ned li.section .content {
    margin: 0 40px;
}

.course-content ul.ned li.section .left,
.course-content ul.ned li.section .right {
    padding: 0 6px;
    width: 40px;
}

.course-content ul.ned li.section .right img.icon {
    padding: 0 0 4px 0;
}

.course-content ul.ned li.section .left {
    padding-top: 22px;
    text-align: right;
}

.jsenabled .course-content ul.ned li.section .left,
.jsenabled .course-content ul.ned li.section .right {
    width: auto;
}

.course-content ul.ned li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}

.course-content ul.ned li.section .section_action_menu .textmenu,
.course-content ul.ned li.section .section_action_menu .menu-action {
    white-space: nowrap;
}

.course-content ul.ned li.section .section_action_menu .menu-action .icon {
    margin-right: .5rem;  /* Same as Boost theme. */
}

.editing .course-content ul.ned li.section .left .section-handle .icon {
    margin-left: 7px;
}

/* Edit section icon. */
.editing .course-content ul.ned li.section .right {
    text-align: center;
}

.editing .course-content ul.ned.ned-framedsections li.section .nedrightside {
    position: relative;
    width: 40px;
}

.editing .course-content ul.ned li.section .right .icon.edit {
    background-color: #fff;
    display: block;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    width: 16px;
}

.editing .course-content ul.ned.ned-framedsections .nedrightside .icon.edit {
    left: 0;
    position: absolute;
    right: 0;
    top:0;
}

.editing .course-content ul.ned.ned-framedsections.ned-framedsectionscustom .nedrightside .icon.edit {
    top: -38px;
}

.editing .course-content ul.ned.ned-framedsections.ned-framedsectionsformatted .nedrightside .icon.edit {
    top: -28px;
}

.editing .course-content ul.ned li.section .right .icon.edit .icon {
    margin-left: 0;
    margin-right: 0;
    vertical-align: top;
}

.jsenabled .nedrightside .moodle-actionmenu[data-enhance] .toggle-display.textmenu {
    margin-left: 0;
    padding-left: 2px;
    padding-right: 2px;
}

/* Completion progress help */
.format-ned.path-course-view .course-content {
    position: relative;
}

/* Completion progress icon */
.format-ned.path-course-view .completionprogress {
    position: absolute;
    right: 62px;
    width: 16px;
}

.format-ned.path-course-view .single-section .completionprogress {
    right: 57px;
}

.format-ned.path-course-view .completionprogresshelp {
    height: 40px;
}

.format-ned.path-course-view .completionprogress .helptooltip img {
    padding: 0;
}

.format-ned.path-course-view .completionprogress.nediconsleft {
    left: 9px;
}

/* Completion icons */
ul.ned .section .activity .actions {
    width: 18px;
}

.path-course-view ul.ned .section li.activity .actions form.togglecompletion .btn {
    border-width: 0;
    margin: 0;
    padding: 0;
}

/* nediconsleft */
ul.ned.nediconsleft .section .activity .actions {
    left: -25px;
}

/* sectioncontentjustification */
ul.ned.sectioncontentjustification .content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

ul.ned.sectioncontentjustification .section .activity .actions {
    right: -10px;
}

/* Activity completion background */
.course-content ul.ned li.section .activity.completion-background {
    padding: .4em;
}

.course-content ul.ned li.section .activity.completion-background .mod-indent-outer {
    width: calc(100% - 34px);
}

.course-content ul.ned li.section .activity.completion-background .activityinstance {
    margin: 0;
    padding: 5px 15px 1px 10px;
}

.course-content ul.ned li.section .activity.completion-auto-fail .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-n .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-pass .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-y .activityinstance,
.course-content ul.ned li.section .activity.completion-manual-n .activityinstance,
.course-content ul.ned li.section .activity.completion-manual-y .activityinstance,
.course-content ul.ned li.section .activity.completion-saved .activityinstance,
.course-content ul.ned li.section .activity.completion-submitted .activityinstance {
    border-radius: 10px;
}

/* Order for colours here is important to make sure the correct one is used. */
.course-content ul.ned li.section .activity.completion-manual-n .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-n .activityinstance {
    background-color: #FFF;
    border: 1px solid #AEE5E3;
}

.course-content ul.ned li.section .activity.completion-submitted .activityinstance,
.course-content ul.ned li.section .activity.completion-waitinggrade .activityinstance {
    background-color: #FBFFDB;
    border: 1px solid #FBFFDB;
}

.course-content ul.ned li.section .activity.completion-auto-pass .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-y .activityinstance,
.course-content ul.ned li.section .activity.completion-manual-y .activityinstance {
    background-color: #D0EFCF;
    border: 1px solid #D0EFCF;
}

.course-content ul.ned li.section .activity.completion-auto-fail .activityinstance {
    background-color: #F9E2E3;
    border: 1px solid #F9E2E3;
}

.course-content ul.ned li.section .activity.completion-background .actions {
    top: 7px;
}

/* Course settings. */
/* Makes items 'inline'. */
#fgroup_id_sectiondeliverymethodgroup .fgroup br.nedsep:nth-child(8),
#fgroup_id_sectiondeliverymethodgroup .fgroup br.nedsep:nth-child(13),
#fgroup_id_sectiondeliverymethodgroup .fgroup br.nedsep:nth-child(16) {
    display: none;
}

#fgroup_id_sectiondeliverymethodgroup .fgroup span:nth-child(3),
#fgroup_id_sectiondeliverymethodgroup .fgroup span:nth-child(5),
#fgroup_id_sectiondeliverymethodgroup .fgroup span:nth-child(7) {
    margin-left: 24px;
}

#fgroup_id_sectiondeliverymethodgroup .fgroup.error br.nedsep:nth-child(8),
#fgroup_id_sectiondeliverymethodgroup .fgroup.error br.nedsep:nth-child(13),
#fgroup_id_sectiondeliverymethodgroup .fgroup.error br.nedsep:nth-child(16) {
    display: inline;
}
#fgroup_id_sectiondeliverymethodgroup .fgroup.error br.nedsep:nth-child(10),
#fgroup_id_sectiondeliverymethodgroup .fgroup.error br.nedsep:nth-child(15),
#fgroup_id_sectiondeliverymethodgroup .fgroup.error br.nedsep:nth-child(18) {
    display: none;
}

#fgroup_id_sectiondeliverymethodgroup .fgroup.error span:nth-child(3),
#fgroup_id_sectiondeliverymethodgroup .fgroup.error span:nth-child(5),
#fgroup_id_sectiondeliverymethodgroup .fgroup.error span:nth-child(7) {
    margin-left: 0;
}

#fgroup_id_sectiondeliverymethodgroup .fgroup.error span:nth-child(5),
#fgroup_id_sectiondeliverymethodgroup .fgroup.error span:nth-child(7),
#fgroup_id_sectiondeliverymethodgroup .fgroup.error span:nth-child(9) {
    margin-left: 24px;
}

#fgroup_id_sectiondeliverymethodgroup .fgroup span {
    vertical-align: top;
}

/* Framed sections */
/* Set the background colour of the li.section - less to style and no adaption for editing but format has to set the section content background and highlight colour. */
ul.ned-framedsections .section.main {
    margin-bottom: 15px;
}

ul.ned-framedsections .section.main:last-child {
    margin-bottom: 0;
}

.course-content ul.ned-framedsections .section.main .content {
    background-color: #fff;
    margin: 0 8px;
}

.course-content ul.ned-framedsections .section.main .header {
    margin-left: 20px;
    margin-right: 20px;
}

.editing .course-content ul.ned-framedsections .section.main .header {
    margin-left: 40px;
    margin-right: 40px;
}

.course-content ul.ned-framedsections .section.main .header,
.course-content ul.ned-framedsections .section.main .footer {
    min-height: 8px;
}

.course-content ul.ned-framedsections .section.main.current .content {
    background-color: #ffe7aa;
}

.course-content ul.ned-framedsections ul.section {
    margin-top: 0;
}

.course-content ul.ned.ned-framedsections li.section .left,
.course-content ul.ned.ned-framedsections li.section .right {
    padding: 0;
    width: 8px;
}

.editing .course-content ul.ned-framedsections .section.main .content {
    margin: 0 40px;
}

.editing .course-content ul.ned.ned-framedsections li.section .left,
.editing .course-content ul.ned.ned-framedsections li.section .right {
    width: auto;
}

.editing ul.ned-framedsections .section .activity .mod-indent-outer {
    position: relative;
}

.course-content ul.ned-framedsections .section.main .content {
    min-height: 1em;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
}

.course-content ul.ned-framedsections .section.main .content .sectionname {
    margin-top: 0;
}

.ned-framedsections .section .header .sectionname {
    text-align: center;
}

.course-content .single-section .ned-framedsections.section-navigation {
    height: 20px;
}

.format-ned.path-course-view .ned-framedsections.completionprogress {
    right: 44px;
}

.format-ned.path-course-view .completionprogress.ned-framedsections.nediconsleft {
    left: 3px;
}

.format-ned.path-course-view .completionprogress.ned-framedsections.nediconsright {
    left: 3px;
}

/* Display on the course page. */
.nedshfcolumns {
    min-height: 8px;
    width: 100%;
}

.nedshfcolumnswithcontent,
.editing .nedshfcolumnswithoutcontent {
    height: 38px;
}

.nedshfcolumnswithcontent .nedshfleftcolumn,
.nedshfcolumnswithcontent .nedshfmiddlecolumn,
.nedshfcolumnswithcontent .nedshfrightcolumn {
    line-height: 38px;
    max-height: 38px;
}

.nedshfcolumnswithcontent .nedshfleftcolumn span,
.nedshfcolumnswithcontent .nedshfmiddlecolumn span,
.nedshfcolumnswithcontent .nedshfrightcolumn span {
    font-size: 16px;
}

.nedshfcolumnswithcontent .nedshfmiddlecolumn span.nedshfmiddlecolumnlarge {
    font-size: 20px;
}

.nedshfleftcolumn,
.nedshfmiddlecolumn,
.nedshfrightcolumn {
    display: block;
    float: left;
    width: 33.3%;
}

.nedshfleftcolumn {
    text-align: left;
}

.nedshfmiddlecolumn {
    text-align: center;
}

.nedshfrightcolumn {
    text-align: right;
}

#id_shfcleftcolumn,
#id_shfcmiddlecolumn,
#id_shfcrightcolumn {
    display: none;
}

/* NED Edit settings. */
.nedhfeditcolumns {
    display: flex;
    width: 100%;
}

.nedhfeditcolumn {
    display: inline-flex;
    margin: 0 4px;
    width: 100%;
}

.mform .form-inline .nedhfeditcolumnvalue .form-control {
    width: 100%;
}

.nedhfeditcolumnvalue input {
    width: 90%;
}

.nedhfeditcolumn input[type="checkbox"] {
    vertical-align: bottom;
}

/* Section edit form. */
.nedshfeditcolumns {
    width: 100%;
}

.nedshfeditleftcolumn,
.nedshfeditmiddlecolumn,
.nedshfeditrightcolumn {
    display: block;
    float: left;
    width: 33.3%;
}

@media (max-width: 1199px) {
    #fgroup_id_sectionheaderformatnamevaluesgroup fieldset {
        width: 100% !important;
    }
}

/* Colour presets */
#page-course-format-ned-nedsettings #managecolourpresets > div {
    display: inline-block;
}

#page-course-format-ned-nedsettings #managecolourpresets > a.btn {
    margin-bottom: 10px;
    margin-left: 10px;
}

/* Activity / Resource hover */
.format-ned .nedactresmouseover .activity:hover:not(.label) .activityinstance,
.format-ned .nedactresmouseover .activity:hover:not(.label) .contentwithoutlink {
    font-size: 18px;
    line-height: 30px;
    padding-top: 10px !important;
}

.format-ned .nedactresmouseover .activity:hover:not(.label) .activityinstance a,
.format-ned .nedactresmouseover .activity:hover:not(.label) .contentwithoutlink a {
    vertical-align: middle;
}

.course-content ul.ned.nedactresmouseover li.section .activity.completion-background:hover:not(.label) .actions {
    top: 14px;
}
