.format-ned #maincontent {
    display: none;
}

.course-content ul.ned {
    list-style: none;
    margin: 0;
}

.course-content ul.ned li.section .content {
    margin: 0 40px;
}

.course-content ul.ned li.section .left,
.course-content ul.ned li.section .right {
    padding: 0 6px;
    width: 40px;
}

.course-content ul.ned li.section .left {
    padding-top: 22px;
    text-align: right;
}

.jsenabled .course-content ul.ned li.section .left,
.jsenabled .course-content ul.ned li.section .right {
    width: auto;
}

.course-content ul.ned li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}

.course-content ul.ned li.section .section_action_menu .textmenu,
.course-content ul.ned li.section .section_action_menu .menu-action {
    white-space: nowrap;
}

.course-content ul.ned li.section .section_action_menu .menu-action .icon {
    margin-right: .5rem;  /* Same as Boost theme. */
}

.editing .course-content ul.ned li.section .left .section-handle .icon {
    margin-left: 7px;
}

.course-content div.ned-single-section {
    margin-top: 0;
}

.course-content div.ned-single-section .content {
    padding-top: 10px;
}

/* Edit section icon on the editing section menu. */
.nededitsection img.icon {
    height: 24px;
    vertical-align: middle;
    width: 24px;
}

/* Edit section icon. */
.editing .course-content ul.ned li.section .right {
    text-align: center;
}

.editing .course-content ul.ned li.section .right .icon.edit {
    display: block;
    height: 16px;
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: auto;
    width: 16px;
}

.editing .course-content ul.ned li.section .right .icon.edit .icon {
    margin-left: 0;
    margin-right: 0;
    vertical-align: top;
}

.jsenabled .nedrightside .moodle-actionmenu[data-enhance] .toggle-display.textmenu {
    margin-left: 0;
    padding-left: 2px;
    padding-right: 2px;
}

/* Completion progress help */
.format-ned.path-course-view .course-content {
    position: relative;
}

/* Completion progress icon */
.format-ned.path-course-view .completionprogress {
    position: absolute;
    right: 62px;
    width: 16px;
}

.format-ned.path-course-view .single-section .completionprogress {
    right: 57px;
}

.format-ned.path-course-view .completionprogresshelp {
    height: 40px;
}

.format-ned.path-course-view .completionprogress .helptooltip img {
    padding: 0;
}

.format-ned.path-course-view .completionprogress.nediconsleft {
    left: 9px;
}

/* Completion icons */
body:not(.editing) ul.ned .section .activity .actions {
    width: 18px;
}

.path-course-view ul.ned .section li.activity .actions form.togglecompletion .btn {
    border-width: 0;
    margin: 0;
    padding: 0;
}

/* nediconsleft */
ul.ned.nediconsleft .section .activity .actions {
    left: -25px;
}

/* sectioncontentjustification */
ul.ned.sectioncontentjustification .content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

ul.ned.sectioncontentjustification .section .activity .actions {
    right: -10px;
}

/* Activity completion background */
.course-content ul.ned li.section .activity.completion-background {
    padding: .4em;
}

.course-content ul.ned li.section .activity.completion-background .mod-indent-outer {
    width: calc(100% - 34px);
}

.course-content ul.ned li.section .activity.completion-background .activityinstance {
    margin: 0;
    padding: 5px 15px 1px 10px;
}

.section .activity.completion-background .contentafterlink {
    margin-left: 40px;
}

.course-content ul.ned li.section .activity.completion-auto-fail .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-n .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-pass .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-y .activityinstance,
.course-content ul.ned li.section .activity.completion-manual-n .activityinstance,
.course-content ul.ned li.section .activity.completion-manual-y .activityinstance,
.course-content ul.ned li.section .activity.completion-saved .activityinstance,
.course-content ul.ned li.section .activity.completion-submitted .activityinstance {
    border-radius: 10px;
}

/* Order for colours here is important to make sure the correct one is used. */
.course-content ul.ned li.section .activity.completion-manual-n .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-n .activityinstance {
    background-color: #FFF;
    border: 1px solid #AEE5E3;
}

.course-content ul.ned li.section .activity.completion-submitted .activityinstance,
.course-content ul.ned li.section .activity.completion-waitinggrade .activityinstance {
    background-color: #FBFFDB;
    border: 1px solid #FBFFDB;
}

.course-content ul.ned li.section .activity.completion-auto-pass .activityinstance,
.course-content ul.ned li.section .activity.completion-auto-y .activityinstance,
.course-content ul.ned li.section .activity.completion-manual-y .activityinstance {
    background-color: #D0EFCF;
    border: 1px solid #D0EFCF;
}

.course-content ul.ned li.section .activity.completion-auto-fail .activityinstance {
    background-color: #F9E2E3;
    border: 1px solid #F9E2E3;
}

.course-content ul.ned li.section .activity.completion-background .actions {
    top: 7px;
}

/* Framed sections */
/* Set the background colour of the li.section - less to style and no adaption for editing but format has to set the section content background and highlight colour. */
ul.ned-framedsections .section.main,
ul.ned-framedsections-s0 .section.main {
    margin-bottom: 12px;
}

ul.ned-framedsections .section.main:last-child {
    margin-bottom: 0;
}

.course-content ul.ned-framedsections .section.main .content {
    background-color: #fff;
    margin: 0 8px;
}

.course-content ul.ned-framedsections .section.main .header {
    margin-left: 20px;
    margin-right: 20px;
}

.editing .course-content ul.ned-framedsections .section.main .header,
.editing .course-content ul.ned-framedsections .section.main .footer {
    margin-left: 40px;
    margin-right: 40px;
}

.course-content ul.ned-framedsections .section.main .header {
    min-height: 8px;
}

.course-content ul.ned-framedsections .section.main .footer {
    min-height: 3px;
}

.editing .course-content ul.ned-framedsections .section.main .header {
    padding: 0 8px;
}

.course-content ul.ned-framedsections .section.main.current .content {
    background-color: #ffe7aa;
}

.course-content ul.ned-framedsections ul.section {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 14px;
}

.course-content ul.ned.ned-framedsections li.section .left,
.course-content ul.ned.ned-framedsections li.section .right {
    padding: 0;
    width: 8px;
}

.editing .course-content ul.ned.ned-framedsections li.section .left {
    width: 40px;
}

.editing .course-content ul.ned.ned-framedsections li.section .right {
    width: auto;
}

.editing .course-content ul.ned.ned-framedsections li.section .left a {
    display: block;
}

.editing .course-content ul.ned.ned-framedsections li.section .left a img.nedsinglesectionicon{
    padding-right: 0;
}

.editing .course-content ul.ned.ned-framedsections li.section .content {
    border-left-style: solid;
    border-left-width: 3px;
    border-right-style: solid;
    border-right-width: 3px;
}

.editing .course-content ul.ned-framedsections .section.main .content {
    margin: 0 40px;
}

.course-content ul.ned-framedsections-s0 .section.main .content,
.course-content ul.ned-framedsections .section.main .content {
    min-height: 1em;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
}

.course-content ul.ned-framedsections .section.main .content .sectionname {
    margin-top: 0;
}

.ned-framedsections .section .header .sectionname {
    text-align: center;
}

.course-content .single-section .ned-framedsections.section-navigation {
    height: 20px;
}

.format-ned.path-course-view .ned-framedsections.completionprogress {
    right: 44px;
}

.format-ned.path-course-view .completionprogress.ned-framedsections.nediconsleft {
    left: 3px;
}

.format-ned.path-course-view .completionprogress.ned-framedsections.nediconsright {
    left: 3px;
}

/* Display on the course page. */
.nedshfcolumns {
    min-height: 8px;
    width: 100%;
}

.nedshfcolumnswithcontent,
.editing .nedshfcolumnswithoutcontent {
    height: 38px;
}

.nedshfcolumnswithcontent .nedshfleftcolumn,
.nedshfcolumnswithcontent .nedshfmiddlecolumn,
.nedshfcolumnswithcontent .nedshfrightcolumn {
    line-height: 38px;
    max-height: 38px;
}

.nedshfcolumnswithcontent .nedshfleftcolumn span,
.nedshfcolumnswithcontent .nedshfmiddlecolumn span,
.nedshfcolumnswithcontent .nedshfrightcolumn span {
    display: block;
    font-size: 16px;
}

.nedshfcolumnswithcontent .nedshfmiddlecolumn span.nedshfmiddlecolumnlarge {
    font-size: 20px;
}

.nedshfleftcolumn,
.nedshfmiddlecolumn,
.nedshfrightcolumn {
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nedshfleftcolumn,
.nedshfrightcolumn {
    width: 25%;
}

.nedshfleftcolumn {
    text-align: left;
}

.nedshfmiddlecolumn {
    text-align: center;
    width: 50%;
}

.nedshfrightcolumn {
    text-align: right;
}

#id_shfcleftcolumn,
#id_shfcmiddlecolumn,
#id_shfcrightcolumn {
    display: none;
}

/* NED Edit settings. */
.nedhfeditcolumns {
    display: flex;
    width: 100%;
}

.nedhfeditcolumn {
    display: inline-flex;
    margin: 0 4px;
    width: 100%;
}

.mform .form-inline .nedhfeditcolumnvalue .form-control {
    width: 100%;
}

.nedhfeditcolumnvalue input {
    width: 90%;
}

.nedhfeditcolumn input[type="checkbox"] {
    vertical-align: bottom;
}

/* Section edit form. */
.nedshfeditcolumns {
    width: 100%;
}

.nedshfeditleftcolumn,
.nedshfeditmiddlecolumn,
.nedshfeditrightcolumn {
    display: block;
    float: left;
    width: 33.3%;
}

@media (max-width: 1199px) {
    #fgroup_id_sectionheaderformatnamevaluesgroup fieldset {
        width: 100% !important;
    }
}

#sectionnamenavblock > div {
    display: inline-block;
}

#sectionnamenavblockvalue {
    padding-left: 10px;
    vertical-align: super;
}

/* Colour presets */
#page-course-format-ned-nedsettings #managecolourpresets > div {
    display: inline-block;
}

#page-course-format-ned-nedsettings #managecolourpresets > #cpappliesto {
    margin-left: 10px;
    vertical-align: text-bottom;
}

/* Activity / Resource hover */
.format-ned .nedactresmouseover .activity:hover:not(.label) .activityinstance,
.format-ned .nedactresmouseover .activity:hover:not(.label) .contentwithoutlink {
    font-size: 18px;
    line-height: 30px;
    padding-top: 10px !important;
}

.format-ned .nedactresmouseover .activity:hover:not(.label) .activityinstance a,
.format-ned .nedactresmouseover .activity:hover:not(.label) .contentwithoutlink a {
    vertical-align: middle;
}

.course-content ul.ned.nedactresmouseover li.section .activity.completion-background:hover:not(.label) .actions {
    top: 14px;
}

/* Relocate activity description */
.section .activity .contentafterlink.nedaboveicon,
.section .activity.completion-background .contentafterlink.nedaboveicon {
    margin-left: 0;
}

.section .activity .actions.nediconsbottom {
    bottom: 0;
    top: auto;
}

.course-content ul.ned li.section .activity.completion-background .actions.nediconsbottom {
    bottom: 7px;
    top: auto;
}

/* Editing toggle all. */
.nedsectionmenu {
    margin-bottom: 12px;
    text-align: right;
}

.editing .nedsectionmenu {
    margin: 0 40px;
}

.nedsectionmenu div,
.nedsectionmenu a {
    display: inline-block;
}

.nedsectionmenu span {
    margin-left: 4px;
}

ul.nededitingsection li.section .content .section,
ul.nededitingsection li.section .content .addresourcemodchooser {
    display: none;
}

ul.nededitingsection li.section .left .nededitingsectionpix {
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 24px;
    width: 40px;
}

ul.nededitingsection li.section.closed .left .nededitingsectionpix {
    background-image: url([[pix:format_ned|point_right]]);
}

ul.nededitingsection li.section.open .left .nededitingsectionpix {
    background-image: url([[pix:format_ned|point_down]]);
}

ul.ned.nededitingsection li.section .left,
ul.ned.nededitingsection li.section .right {
    padding: 0;
}

.editing ul.ned.ned-framedsections-s0 li.section .left,
.editing ul.ned.ned-framedsections li.section .left {
    text-align: center;
}

.editing .course-content ul.ned li.section .left .section-handle .icon {
    margin-left: 0;
}

/* Framed sections with section 0 */
.editing .course-content ul.ned-framedsections li.section.main {
    position: relative;
}

.editing .course-content ul.ned-framedsections li.section .left,
.editing .course-content ul.ned-framedsections li.section .nedrightside,
.editing .course-content ul.ned-framedsections-s0 li.section .nedrightside {
    position: absolute;
    top: 0;
}

.editing .course-content ul.ned-framedsections li.section .nedrightside,
.editing .course-content ul.ned-framedsections-s0 li.section .nedrightside {
    right: 0;
}

.editing .course-content ul.ned-framedsections-s0 li.section .content {
    border-color: #999;
    border-style: solid;
}
.editing .course-content ul.ned-framedsections-s0 li.section.closed .content {
    border-width: 1px;
    min-height: 36px;
    padding-left: 27px;
    padding-right: 27px;
}
.editing .course-content ul.ned-framedsections-s0 li.section.open .content {
    border-width: 3px;
}

body:not(.editing) .course-content ul.ned-framedsections-s0 li.section .content {
    margin: 0 3px;
}

/* Compressed mode view */
.compressedmodeviewhide .compressedmodeviewhideformat {
    color: #999;
    text-align: center;
}

.compressedmodeviewhide .summary {
    display: none;
}
